<!-- Macro to remove code duplication -->

<!-- Macro to build form fields -->
{% macro make_field(field, value, id) %}
    <div class="form-group row">
        {{ field.label(class="col-sm-2 col-form-label")}}
        <div class="col-sm-10">
            {{ field( value= value, class="form-control" , id=id)}}
        </div>
    </div>
{% endmacro %}

<!-- CSRF Token -->
{{ form.hidden_tag() }}
<!-- Pokemon ID  -->
{{ make_field(field=form.pokemon_id, value=pokemon_id, id="pokemon_id")}}
<!-- Pokemon Name  -->
{{ make_field(field=form.name, value=name, id="name")}}
<!-- Pokemon Image Link  -->
{{ make_field(field=form.image_link, value=image_link, id="image_link")}}

<!-- If the form template is loaded by edit view then show image-->
{%   if pk_type_flag and pk_weakness_flag %}
<div class="form-group row">
    <label for="image_link" class="col-sm-2 col-form-label">Image</label>
    <div class="col-sm-10">
        <img style="border-style: hidden;height: 140px;" src="{{ image_link }}">
    </div>
</div>
{% endif %}

<!-- Pokemon Description  -->
{{ make_field(field=form.description, value=description, id="description") }}
<!-- Pokemon Height -->
{{ make_field(field=form.height, value=height, id="height") }}
<!-- Pokemon Weight -->
{{ make_field(field=form.weight, value=weight, id="weight") }}
<!-- Pokemon Category -->
{{ make_field(field=form.category, value=category, id="category") }}
<!-- Pokemon Ability -->
{{ make_field(field=form.ability, value=abilities, id="ability") }}


<div class="form-group row">
    <label class="col-sm-2 col-form-label">Type</label>
    <div class="col-sm-10">
        {% for pokemon_type in pokemon_types %}
            {% if pk_type_flag and pk_type_flag[loop.index - 1] %}
                <input name="t_{{ pokemon_type }}" checked type="checkbox" data-toggle="toggle"
                       data-on="{{ pokemon_type|title() }}" data-off="{{ pokemon_type|title() }}"
                       data-onstyle="warning"
                       data-offstyle="secondary">
            {% else %}
                <input name="t_{{ pokemon_type }}" type="checkbox" data-toggle="toggle"
                       data-on="{{ pokemon_type|title() }}" data-off="{{ pokemon_type|title() }}"
                       data-onstyle="warning"
                       data-offstyle="secondary">
            {% endif %}
            {% if loop.index % 6 == 0 %}
                <hr>
            {% endif %}
        {% endfor %}
    </div>
</div>
<hr>
<div class="form-group row">
    <label class="col-sm-2 col-form-label">Weakness</label>
    <div class="col-sm-10">
        {% for pokemon_type in pokemon_types %}
            {% if pk_weakness_flag and pk_weakness_flag[loop.index - 1] %}
                <input name="w_{{ pokemon_type }}" checked type="checkbox" data-toggle="toggle"
                       data-on="{{ pokemon_type|title() }}" data-off="{{ pokemon_type|title() }}"
                       data-onstyle="warning"
                       data-offstyle="secondary">
            {% else %}
                <input name="w_{{ pokemon_type }}" type="checkbox" data-toggle="toggle"
                       data-on="{{ pokemon_type|title() }}" data-off="{{ pokemon_type|title() }}"
                       data-onstyle="warning"
                       data-offstyle="secondary">
            {% endif %}
            {% if loop.index % 6 == 0 %}
                <hr>
            {% endif %}
        {% endfor %}


    </div>
</div>

<div class="form-group row">
    <div class="col-sm-10">
        <button type="submit" name="submit" class="btn btn-primary">Submit</button>
    </div>
</div>
