{% extends 'base.html' %}
{% block content %}
<div class="container">
    <h1> Add new Pokemon to Pokedox</h1>
    <form method="post" action="{{url_for('add_pokemon')}}">
        <div class="form-group row">
            <label for="pokemon_id" class="col-sm-2 col-form-label">Pokedox ID</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="pokemon_id" placeholder="Pokedox Id">
            </div>
        </div>
        <div class="form-group row">
            <label for="name" class="col-sm-2 col-form-label">Name</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="name" placeholder="Pokemon Name">
            </div>
        </div>
        <div class="form-group row">
            <label for="description" class="col-sm-2 col-form-label">Description</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="description" placeholder="Description">
            </div>
        </div>
        <div class="form-group row">
            <label for="height" class="col-sm-2 col-form-label">Height</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="height" placeholder="Height">
            </div>
        </div>
        <div class="form-group row">
            <label for="weight" class="col-sm-2 col-form-label">Weight</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="weight" placeholder="Weight">
            </div>
        </div>
        <div class="form-group row">
            <label for="category" class="col-sm-2 col-form-label">Category</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="category" placeholder="Category">
            </div>

        </div>
        <div class="form-group row">
            <label for="ability" class="col-sm-2 col-form-label">Ability</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="ability" placeholder="Ability">
            </div>
        </div>

        <div class="form-group row">
            <label for="ability" class="col-sm-2 col-form-label">Type</label>
            <div class="col-sm-10">
                <input type="checkbox" data-toggle="toggle" data-on="Fire" data-off="Fire" data-onstyle="warning"
                       data-offstyle="secondary">
                <input type="checkbox" data-toggle="toggle" data-on="Water" data-off="Water" data-onstyle="info"
                       data-offstyle="secondary">
                <input type="checkbox" data-toggle="toggle" data-on="Grass" data-off="Grass" data-onstyle="success"
                       data-offstyle="secondary">
                <input type="checkbox" data-toggle="toggle" data-on="Eletric" data-off="Eletric" data-onstyle="info"
                       data-offstyle="secondary">
                <input type="checkbox" data-toggle="toggle" data-on="Psychic" data-off="Psychic" data-onstyle="success"
                       data-offstyle="secondary">
                <input type="checkbox" data-toggle="toggle" data-on="Steel" data-off="Steel" data-onstyle="info"
                       data-offstyle="secondary">
                <hr>
                <input type="checkbox" data-toggle="toggle" data-on="Normal" data-off="Normal" data-onstyle="success"
                       data-offstyle="secondary">
                <input type="checkbox"  data-toggle="toggle" data-on="Fairy" data-off="Fairy"
                       data-onstyle="success" data-offstyle="secondary">
                <input type="checkbox" data-toggle="toggle" data-on="Dark" data-off="Dark" data-onstyle="info"
                       data-offstyle="secondary">
                <input type="checkbox" data-toggle="toggle" data-on="Flying" data-off="Flying" data-onstyle="success"
                       data-offstyle="secondary">
                <input type="checkbox" data-toggle="toggle" data-on="Ghost" data-off="Ghost" data-onstyle="info"
                       data-offstyle="secondary">
                <input type="checkbox" data-toggle="toggle" data-on="Poison" data-off="Poison" data-onstyle="success"
                       data-offstyle="secondary">
                <hr>
                <input type="checkbox" data-toggle="toggle" data-on="Ice" data-off="Ice" data-onstyle="info"
                       data-offstyle="secondary">
                <input type="checkbox" data-toggle="toggle" data-on="Ground" data-off="Ground" data-onstyle="success"
                       data-offstyle="secondary">
                <input type="checkbox" data-toggle="toggle" data-on="Rock" data-off="Rock" data-onstyle="success"
                       data-offstyle="secondary">
                <input type="checkbox" data-toggle="toggle" data-on="Dragon" data-off="Dragon" data-onstyle="success"
                       data-offstyle="secondary">
                <input type="checkbox" data-toggle="toggle" data-on="Fighting" data-off="Fighting" data-onstyle="success"
                       data-offstyle="secondary">
                <input type="checkbox" data-toggle="toggle" data-on="Bug" data-off="Bug" data-onstyle="success"
                       data-offstyle="secondary">

            </div>
        </div>
        <hr>
        <div class="form-group row">
            <label for="ability" class="col-sm-2 col-form-label">Weakness</label>
            <div class="col-sm-10">
                <input type="checkbox" data-toggle="toggle" data-on="Fire" data-off="Fire" data-onstyle="warning"
                       data-offstyle="secondary">
                <input type="checkbox" data-toggle="toggle" data-on="Water" data-off="Water" data-onstyle="info"
                       data-offstyle="secondary">
                <input type="checkbox" data-toggle="toggle" data-on="Grass" data-off="Grass" data-onstyle="success"
                       data-offstyle="secondary">
                <input type="checkbox" data-toggle="toggle" data-on="Eletric" data-off="Eletric" data-onstyle="info"
                       data-offstyle="secondary">
                <input type="checkbox" data-toggle="toggle" data-on="Psychic" data-off="Psychic" data-onstyle="success"
                       data-offstyle="secondary">
                <input type="checkbox" data-toggle="toggle" data-on="Steel" data-off="Steel" data-onstyle="info"
                       data-offstyle="secondary">
                <hr>
                <input type="checkbox" data-toggle="toggle" data-on="Normal" data-off="Normal" data-onstyle="success"
                       data-offstyle="secondary">
                <input type="checkbox"  data-toggle="toggle" data-on="Fairy" data-off="Fairy"
                       data-onstyle="success" data-offstyle="secondary">
                <input type="checkbox" data-toggle="toggle" data-on="Dark" data-off="Dark" data-onstyle="info"
                       data-offstyle="secondary">
                <input type="checkbox" data-toggle="toggle" data-on="Flying" data-off="Flying" data-onstyle="success"
                       data-offstyle="secondary">
                <input type="checkbox" data-toggle="toggle" data-on="Ghost" data-off="Ghost" data-onstyle="info"
                       data-offstyle="secondary">
                <input type="checkbox" data-toggle="toggle" data-on="Poison" data-off="Poison" data-onstyle="success"
                       data-offstyle="secondary">
                <hr>
                <input type="checkbox" data-toggle="toggle" data-on="Ice" data-off="Ice" data-onstyle="info"
                       data-offstyle="secondary">
                <input type="checkbox" data-toggle="toggle" data-on="Ground" data-off="Ground" data-onstyle="success"
                       data-offstyle="secondary">
                <input type="checkbox" data-toggle="toggle" data-on="Rock" data-off="Rock" data-onstyle="success"
                       data-offstyle="secondary">
                <input type="checkbox" data-toggle="toggle" data-on="Dragon" data-off="Dragon" data-onstyle="success"
                       data-offstyle="secondary">
                <input type="checkbox" data-toggle="toggle" data-on="Fighting" data-off="Fighting" data-onstyle="success"
                       data-offstyle="secondary">
                <input type="checkbox" data-toggle="toggle" data-on="Bug" data-off="Bug" data-onstyle="success"
                       data-offstyle="secondary">

            </div>
        </div>

        <div class="form-group row">
            <div class="col-sm-10">
                <button type="submit" name="submit" class="btn btn-primary">Submit</button>
            </div>
        </div>
    </form>
</div>
{% endblock %}